// Specific CSS for your home-page
// Dans votre fichier SCSS
html {
  scroll-behavior: smooth;
  transition: 3000ms;
}

body {
  color: rgb(40, 38, 38);
}

#spacer {
  height: 100vh;
}

.contenttest {
  background-image: asset-url("bg-forest.svg");
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}

#otherContent {
  background-color: transparent;
}

.centered {
  text-align: center;
}

.padded {
  padding-top: 20px;
}
