// Specific CSS for your home-page
// Dans votre fichier SCSS

body {
  background-image: url("chemin/vers/votre/image.jpg"); // Ajouter une image d'arrière-plan //
  font-family: "Arial", sans-serif; // Changer la police de caractères
}

#main {
  padding: 20px; // Ajouter un padding autour du contenu principal

  #Home {
    background-image: url("chemin/vers/votre/image.jpg"); // Ajouter une image d'arrière-plan
    background-size: cover; // Faire en sorte que l'image couvre toute la zone
  }

  #otherContent {
    background-color: #fff; // Changer la couleur d'arrière-plan du contenu supplémentaire
    border-radius: 10px; // Ajouter des coins arrondis
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Ajouter une ombre
  }
}
