// Specific CSS for your home-page
// Dans votre fichier SCSS
html {
  scroll-behavior: smooth;
  transition: 3000ms;
}

body {
  color: rgb(40, 38, 38);

  background-image: asset-url("bg-forest.svg");
  background-size: cover;
  opacity: 1;
  background-attachment: fixed;
  background-color: gray;
}

#spacer {
  height: 100vh;
}

.centered {
  text-align: center;
}

.padded {
  padding-top: 20px;
}

.typed-cursor {
  display: none;
}

.containernour {
  opacity: 0.9;
}
