.container-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card-show {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: double 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  width: 450px;
}

.card-show img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.card-show-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.card-show h1 {
  font-weight: bolder;
  text-shadow: 9px 5px 9px rgba(0,0,0,0.39);
}

.card-show p {
  font-weight: 800;
  text-shadow: 9px 5px 9px rgba(0,0,0,0.39);
}

.show-btn{
  padding: 8px;
  border-radius: 10px;
  background-color: #3c3c3c;
  box-shadow: 5px 5px 0.1 rgba(0, 0, 0, 0.441);
  border:double 1px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.bookings-grid{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.booking {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black double 3px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  width: 250px;
  margin: 10px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
}
