.form-inputs {
  background-color: #f9f9f926;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-inputs input[type="email"],
.form-inputs input[type="password"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: calc(100% - 22px);
  transition: border-color 0.3s;
}

.form-inputs input[type="email"]:focus,
.form-inputs input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.form-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-actions button:hover {
  background-color: #0056b3;
}