<div class="contenttest">
  <main id="main" style="overflow: auto; height: 100vh;">
    <div class="py-5 container-fluid">
      <%= image_tag 'pokeball/Remove Background.gif', style: 'width: 100px; height: 100px; position: absolute; top: 30px; left: 30px;' %>
      <div style="display: flex; justify-content: flex-end; align-items: center;">
        <div>
          <% if user_signed_in? %>
            <%= link_to 'Déconnexion', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-outline-dark mx-2' %>
          <% else %>
            <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-outline-dark mx-2' %>
            <%= link_to 'Connexion', new_user_session_path, class: 'btn btn-secondary mx-2 border border-dark-subtle' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="py-5 container">
      <div class="d-flex align-items-center justify-content-center">
        <h1 id='title'></h1>
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script>
          var typed = new Typed('#title', {
            strings: ['Bienvenue sur Poké-Loca'],
            typeSpeed: 50,
          });
        </script>
      </div>
      <div class="align-items-center row">
        <div class="col-xl-6 col-sm-12">
          <img src='http://res.cloudinary.com/dk3qswxut/image/upload/v1709153120/ksvrifesm2djfdrqt9ib.png'>
        </div>
        <div class="py-5 order-last order-lg-first col-xl-6 col-sm-12">
          <h1>Rondoudou</h1>
          <p class="mb-3">Rondoudou ressemble à une boule rose avec de petits bras et de petits pieds. Il possède deux petites oreilles en pointe roses et noires à l'intérieur. Il a également une épaisse mèche qui retombe entre deux grands yeux bleus qui lui donnent un air tendre.
Rondoudou possède une voix mélodieuse et adore chanter. Il est notamment réputé pour ses berceuses, qui provoquent le sommeil de tout individu ou Pokémon qui les entendent. Il est également capable de guérir les blessures de ses alliés en chantant. Il est très apprécié des enfants et des bébés Pokémon.</p>
          </p>
          <a href="#ancres" class="button-primary w-100">
            Explorer
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
