<h1>Pokemons !!!!!!!!!!!!!!!</h1>
<h2>Attttrraaaaapppezzzzzzzz llesssss touuuuusssss!!!!!!!!!!!!!!!
</h2>
 <% if user_signed_in? %>
  <%= link_to 'Ajouter un service', new_pokemon_path %>
<% end %>
<div class="container">
    <%= render 'pokemon_cards' %>
</div>
