  <%= link_to pokemons_path do %>
    <div class="fs-2 opacity-75 p-5">
      <i class="fa-solid fa-arrow-left btn-back-index" style="color: black;"></i>
    </div>
  <% end %>
<div class="container">
  <h1 class="text-center pb-5 title-new-pokemon">Vos pokemons</h1>

  <div class="d-flex justify-content-between">
    <p><%= render 'form_new_pokemon' %></p>
    <p><%= render 'pokemon_card_newview' %></p>
  </div>

</div>
