<h1>Pokemons#new</h1>
<p>Find me in app/views/pokemons/new.html.erb</p>

<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, collection: Pokemon.all %>
  <%= f.input :price %>
  <%= f.submit 'Create' %>
<% end %>
